<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/boardDetail.css" />
  </head>
  <body>
    <div class="board-detail-container">
      <div class="title">
        <h2>제목</h2>
        <h3><%= data.title%></h3>
      </div>

      <h2>내용</h2>
      <div class="like-container">
        <form action="" method="post" class="detail-form" id="detail-form2">
          <button type="submit">좋아요!</button>
        </form>
        <div class="like-container2">
          <span>좋아요수</span>
          <span style="font-weight: bold"><%= data.like %></span>
        </div>
      </div>

      <div class="content">
        <div><%= data.content%></div>
      </div>
    </div>
    <div class="comment-container">
      <% commentData.forEach((el,index)=>{ %>
      <div class="comment">
        <div class="comment-nickName"><%= el.nickName%></div>
        <div class="comment-content"><%= el.content%></div>
      </div>

      <%}) %>
    </div>

    <form action="" method="post" class="detail-form" id="detail-form">
      <label for=""></label>
      <input type="text" name="comment" id="" />
      <button type="submit">댓글 달기</button>
    </form>
   
  </body>
  <script>
    const currentPath = window.location.pathname;
    const temp = currentPath.split("/");
    console.log(temp); // "/some-page"와 같은 문자열 출력

    let form = document.querySelectorAll(".detail-form");
    form[1].action = `/board/comment/${temp[3]}`;
    form[0].action = `/board/like/${temp[3]}`;
  </script>
</html>
