<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>리스트 페이지</h2>
    <a href="/insert">추가 페이지로 이동</a>
    <table>
      <tr>
        <th>삭제</th>
        <th>수정</th>
        <th>아이디</th>
        <th>이름</th>
        <th>전화번호</th>
        <th>시리즈</th>
      </tr>
      <% if (data) { %> <% data.forEach((element,index)=>{ %>
      <tr>
        <td><a href="/delete/<%= element.id %>">삭제</a></td>
        <td><a href="/edit/<%= element.id %>">수정</a></td>
        <td><%= element.id %></td>
        <td><%= element.name %></td>
        <td><%= element.number %></td>
        <td><%= element.series %></td>
      </tr>
      <% }) %> <% }else{ %> <% }%>
    </table>
  </body>
  <script></script>
</html>
