<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 미들웨어로 루트로 설정해놓음. 만약 첫번째 매개변수로 /css를 했다면 아래 href는 /css/main.css로 해야한다. -->
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <h1>메인 페이지</h1>
    <table>
      <a href="/posts/insert">추가 페이지</a>
      <tr>
        <th>번호</th>
        <th>타이틀</th>
        <th>컨텐츠</th>
        <th>삭제</th>
        <th>수정</th>
      </tr>
      <% data.forEach((el,index)=>{ %>
      <tr>
        <td><%= el.id %></td>
        <td><a href="/posts/view/<%= el.id %>"><%= el.title%></a></td>
        <td><%= el.CONTENT%></td>
        <td><a href="/posts/delete/<%= el.id %>">삭제</a></td>
        <td><a href="/posts/edit/<%= el.id %>">수정</a></td>
      </tr>

      <%}) %>
    </table>
  </body>
  <script></script>
</html>
